services:
  # -------------------------------
  # Product Catalog DB
  # -------------------------------
  product-db:
    container_name: product-db
    image: postgres:15-alpine
    environment:
      POSTGRES_DB: product_catalog_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 15421542
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d product_catalog_db"]
      interval: 5s
      timeout: 5s
      retries: 15
    volumes:
      - product-data:/var/lib/postgresql/data

  # -------------------------------
  # Product Catalog Service
  # -------------------------------
  product-service:
    container_name: product-service
    build: ./product-catalog-service
    ports:
      - "8081:8081"
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://product-db:5432/product_catalog_db
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: 15421542
      SPRING_PROFILES_ACTIVE: prod
    depends_on:
      product-db:
        condition: service_healthy
    healthcheck:
      test: ["CMD-SHELL", "curl -fs http://localhost:8081/actuator/health || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 20

  # -------------------------------
  # Order Processing DB
  # -------------------------------
  order-db:
    container_name: order-db
    image: postgres:15-alpine
    environment:
      POSTGRES_DB: order_processing_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 15421542
    ports:
      - "5433:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d order_processing_db"]
      interval: 5s
      timeout: 5s
      retries: 15
    volumes:
      - order-data:/var/lib/postgresql/data

  # -------------------------------
  # Order Processing Service
  # -------------------------------
  order-service:
    container_name: order-service
    build: ./order-processing-system
    ports:
      - "8080:8080"
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://order-db:5432/order_processing_db
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: 15421542
      SPRING_KAFKA_BOOTSTRAP_SERVERS: kafka:9092
      PRODUCT_CATALOG_URL: http://product-service:8081
    depends_on:
      order-db:
        condition: service_healthy
      product-service:
        condition: service_healthy
      redpanda:
        condition: service_healthy
    healthcheck:
      test: ["CMD-SHELL", "curl -fs http://localhost:8080/actuator/health || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 20

  # -------------------------------
  # Kafka (Redpanda)
  # -------------------------------
  redpanda:
    container_name: kafka
    image: docker.redpanda.com/redpandadata/redpanda:latest
    command:
      [
        "redpanda",
        "start",
        "--overprovisioned",
        "--node-id=1",
        "--smp=1",
        "--memory=512M",
        "--reserve-memory=0M",
        "--check=false",
        "--kafka-addr=PLAINTEXT://0.0.0.0:9092",
        "--advertise-kafka-addr=PLAINTEXT://kafka:9092"
      ]
    ports:
      - "9092:9092"
    healthcheck:
      test: ["CMD-SHELL", "rpk cluster health || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 20

  # -------------------------------
  # Redpanda Console (GUI)
  # -------------------------------
  redpanda-console:
    container_name: redpanda-console
    image: docker.redpanda.com/redpandadata/console:v3.3.2
    ports:
      - "8085:8080"  # porta alternativa para não conflitar com seu serviço
    environment:
      KAFKA_BROKERS: "host.docker.internal:9092"
    depends_on:
      - redpanda

volumes:
  product-data:
  order-data: