spring:
  config:
    activate:
      on-profile: prod

  datasource:
    url: jdbc:postgresql://${DB_HOST:localhost}:${DB_PORT:5432}/${DB_NAME:product_catalog_db}
    username: ${DB_USERNAME:product_catalog_db}
    password: ${DB_PASSWORD:15421542}

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: false

  kafka:
    producer:
      bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVERS:kafka-prod-01:9092,kafka-prod-02:9092}
      retries: 5
    consumer:
      bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVERS:kafka-prod-01:9092,kafka-prod-02:9092}
      auto-offset-reset: latest

server:
  port: 8081

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: when-authorized
      db:
        enabled: true
      kafka:
        enabled: true

logging:
  level:
    root: INFO
    com.yourcompany.orders: INFO
    org.springframework: WARN
    org.hibernate: WARN